@model object

@{
    ViewBag.Title = "Error";
    Layout = "_Layout";
}

<h2 class="text-center">Erroooooor!</h2>
<div class="text-center">
    <h1 class="display-4"><b>I'm sorry,</b></h1>
    <p><b>but you need to pay more attention </b></p>
    <p><b>to how much of this product we have.</b></p>
    <p><b>Please try again!</b></p>
    <div>
        <a asp-action="Index" class=" btn btn-outline-dark">Back to List</a>       
    </div>
</div>
